In [1]:
import pandas as pd

In [101]:
class habitica:
    def __init__(self, filename, week_begin, week_end):
        self.data = pd.read_csv(filename)
        self.this_week(week_begin, week_end)
        
    def this_week(self, week_begin, week_end):
        # 对时间进行处理
        self.data['Date'] = pd.to_datetime(self.data['Date'], infer_datetime_format=True)
        temp = pd.Series([week_begin, week_end])
        temp = pd.to_datetime(temp, infer_datetime_format=True)
        # 通过时间筛选出本周对
        print(self.data.shape)
        self.data = self.data[self.data['Date']>=temp[0]]
        print(self.data.shape)
        #self.data = self.data[self.data['Date']<=temp[1]]
    def show_habit(self):
        habit = self.data[self.data['Task Type']=='habit']
        print(habit.head())

In [102]:
f = 'data/habitica-tasks-history.csv'
ts = '2020-03-08 00:15:01'
te = '2020-03-08 23:59:59'
d = habitica(f,ts,te)

(4, 5)
(4, 5)

In [98]:
d.data

,Task Name,Task ID,Task Type,Date,Value
0,cure,7059cade-c9df-4a7b-846f-ec0f09433121,habit,2020-03-08 10:19:43,-1.026657
1,短短地休息一下,d0d7af3c-e8f7-4f01-b6ca-64607140a9e1,habit,2020-03-08 10:17:47,1.000000
2,听力>>托福,f72cf781-2b69-4f02-abf2-ad14883e31b1,daily,2020-03-08 10:04:50,1.000000
3,俯卧撑>>锻炼身体,035463b6-4aa3-44cb-ac7c-13bbd28c213a,daily,2020-03-08 10:15:46,1.000000

In [81]:
d.show_habit()

TypeError: 'NoneType' object is not subscriptable

In [22]:
pd.to_datetime(d.data['Date'], infer_datetime_format=True)

0   2020-03-08 10:19:43
1   2020-03-08 10:17:47
2   2020-03-08 10:04:50
3   2020-03-08 10:15:46
Name: Date, dtype: datetime64[ns]

In [25]:
time1 = '2020-03-08 10:18:00'
ts = pd.Series([time1])
ts = pd.to_datetime(ts, infer_datetime_format=True)

In [26]:
times = pd.to_datetime(d.data['Date'], infer_datetime_format=True)  
t2 = times[times>ts[0]]
t2

0   2020-03-08 10:19:43
Name: Date, dtype: datetime64[ns]

In [8]:
d.data.dtypes

Task Name     object
Task ID       object
Task Type     object
Date          object
Value        float64
dtype: object

In [9]:
d.data.columns

Index(['Task Name', 'Task ID', 'Task Type', 'Date', 'Value'], dtype='object')

In [10]:
d.data

,Task Name,Task ID,Task Type,Date,Value
0,cure,7059cade-c9df-4a7b-846f-ec0f09433121,habit,2020-03-08 10:19:43,-1.026657
1,短短地休息一下,d0d7af3c-e8f7-4f01-b6ca-64607140a9e1,habit,2020-03-08 10:17:47,1.000000
2,听力>>托福,f72cf781-2b69-4f02-abf2-ad14883e31b1,daily,2020-03-08 10:04:50,1.000000
3,俯卧撑>>锻炼身体,035463b6-4aa3-44cb-ac7c-13bbd28c213a,daily,2020-03-08 10:15:46,1.000000

In [11]:
f2 = 'data/habitica-tasks-history2.csv'
d2 = habitica(f2)

In [14]:
d2.data.head()

,Task Name,Task ID,Task Type,Date,Value
0,cure,7059cade-c9df-4a7b-846f-ec0f09433121,habit,2020-03-08 10:19:43,-1.026657
1,处理邮件,80a7b330-b9a6-4e97-bf8d-43080f5474ea,habit,2020-03-08 11:59:07,1.000000
2,短短地休息一下,d0d7af3c-e8f7-4f01-b6ca-64607140a9e1,habit,2020-03-08 10:17:47,1.000000
3,听力>>托福,f72cf781-2b69-4f02-abf2-ad14883e31b1,daily,2020-03-08 10:04:50,1.000000
4,俯卧撑>>锻炼身体,035463b6-4aa3-44cb-ac7c-13bbd28c213a,daily,2020-03-08 10:15:46,1.000000